# Ignore file types
*.spec
*.
!*/
*.zip
*.csv
*.env



# Mac issue
*.DS_Store

# Folders that are not necessary
/test
/win-venv
/lin-venv
/build
/dist
/janus-c-3.0.5
/config
/startup
/data
